/* GENERAL: =general
-----------------------------------------------------------------------------------------*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }



.uspan{
padding:10px 0 10px 0;
}

.uimg{
padding:5px 0 5px 0;
text-align:center;
float:center;
margin:0 30px 0 70px;
}

.userpoptext{
color:#295398;
text-align:center;
}


.footerbg{
    box-shadow: inset 1px 1px 1px #888888;
    margin-top:30px;
    color:#000099;
}
.ptdb {
    color: #4086AA;
}
.ptlb {
    color: #73C0FF; /* color: #91C3DC; */
}
.ptlg {
    color: #565656;
}
.ptdg {
    color: #555555;
}
.pbdg {
    background-color: #555555;
}
.addressbox{
    background-color: #A9A9A9;
    color:white;
}
.pricerow{
    width:auto; 
    height:38px;
    background-color:#f4f4f4;
    font-size:15px;
    text-align:left;
    line-height:38px;
    padding:0 10 0 10px;
}

.pricerowl{
    width:auto; 
    height:38px;
    background-color:white; 
    font-size:15px;
    text-align:left;
    line-height:38px;
    padding:0 10 0 10px;
}

.poptitle
{
    color:white;
    font-size:15px;
    padding:10px 0 10px 0;
}
.popspan
{
    background-color:black;
    color:yellow;
    font-size:70px;
    width:max;
    text-align:center;
    font-weight:bold;
    border: 1px black solid;
    height:120px;
}

.ctext{
    color:#3E545C;
    padding:10px;
}

.couplespan{
    background-color:white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); 
    -box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    height:150px;
}

.register2{
    width:94px; 
    margin:20px 0 0px 15px;
    font-size:10px;
}

.registerfield{
    width:222px;
    height:30px;
    margin:20px 0px 0px 15px;
    font-size:10px;
}

.spane1{
    margin-left: 20px;
    width: 300px;
    background-color:white; 
    float: left;
    height:300px;
}

.spane1{
    width: 300px;
    background-image:url('/images/middle.png'); 
    height:300px;
}

.spane1{
    margin-right: 20px;
    width: 300px;
    background-image:url('/images/right.png'); 
    float: left;
    height:300px;
}


.nudgetitle2{
    font-weight:bold;
    font-size:18px;
    color:black;
    text-align:left;
//*    border-top:1px solid #ededed;
*//
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:10px;
}

.nudgebody2{
    font-size:15px;
    color:#333333;
    text-align:left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:10px;
    font-weight:normal;
}


.nudgetitle{
    font-weight:bold;
    font-size:14px;
    color:black;
    text-align:left;
    padding:15 12 5 12px;
    border-top:0px solid #ededed;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nudgebody{
    font-size:12px;
    color:#333333;
    text-align:left;
    padding:15 15 15 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nudgespanimg{
    width:70%; 
    float:center;
    padding-top:10px;
    padding-bottom:10px;
}

.nudgespan{
    
    
}


.shophow
{
    text-align:left;
    color:#023460;
    font-size:24px;
    line-height:120%;
    background-image:url('/images/graydient.png'); 
    background-repeat:repeat;
    height:120px;
    padding-top:20px;
}

.iconbox{
    font-size:60px;
    color:#023460;
    padding-top:35px;
}

.nota{
    font-size:15px;
    color:black;
}

.whiteglow
{
    -webkit-box-shadow: 0 8px 50px rgba(245, 245, 245, 0.6); 
    -moz-box-shadow: 0 8px 50px rgba(245, 245, 245, 0.6); 
    -box-shadow: 0 8px 50px rgba(245, 245, 245, 0.6);
}

.greenpill .active a,
.greenpill .active a:hover {
    background-color:white;
    color:#f09934;
    font-weight:bold;
    
}


.triangle {
    border-color: yellow blue red green;
    border-style: solid;
    border-width: 0px 200px 200px 200px;
    height: 0px;
    width: 0px;
}

.zapposblue
{
    background-color:#39648B; 
    padding-top:20px; 
    padding-bottom:20px; 
    color:white;  
    line-height: 240%; 
}

.zapposwhite
{
    background-color:white; 
    padding-top:20px; 
    padding-bottom:20px; 
    color:#398EB6; 
    line-height: 240%;
}

.zappostan
{
    background-color:#F8F7EF; 
    padding-top:20px; 
    padding-bottom:20px; 
    color:black; 
    line-height: 240%; }

.funny{
    font-size:18px;}

.vidsize{
    height:360px;
    width:640px;
    padding:15px; 
    display: block; 
    margin:0px auto; 
    position: relative; 
    background: white; 
    border: 1px #D1D1D1 solid;
}

.ubershadow{
    -webkit-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2); 
    -box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
}
.canspan{
    background-image:url('images/plaster.png'); 
    background-repeat:repeat;
    line-height:120%;
    padding-top: 5px;
    padding-bottom:5px; 
    text-align: left;
    width:max;
}

.faqtext{
    padding-left:30px;
}

.logotext{
    color:#3E545C;
    font-size:12px;
    padding-right:5px;
    padding-left:5px;

}

.oplogo{
    width:50%;
    padding-top:20px;
    padding-bottom:10px;
}

.integrationlogo
{
    text-align:center;
    height:150px;
    background-color:white;
    background-image:url('/images/greygrade.png'); 
    background-repeat:repeat;
    margin-top:15px;
    box-shadow: 0px 1px 1px #888888;
}

.integrationlogo2
{
    text-align:center;
    height:150px;
    background-color:white;
    background-image:url('/images/plaster.png'); 
    background-repeat:repeat;
    margin-top:15px;
    box-shadow: 0px 1px 1px #888888;
}



.numb{
    font-size:50px; 
    color:red;
    text-align:center;
    margin-top:20px;
    font-weight:bold;
}

.faqspan{
    background-image:url('/images/greygrade.png'); 
    background-repeat:repeat;
    padding: 5px; 
    text-align: left;
    width:96.9%;
}

.faqspan2{
    background-image:url('/images/greygrade.png'); 
    background-repeat:repeat;
    padding: 5px; 
    text-align: left;
    margin:5px;
    color:black;
}

.phoneimage
{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.demorow{
    height:40px;
    font-size:36px;
    margin:10px;
}

.tabletitle{
    color:#3E545C;
    font-size:20px;
}

.faqrow{
    margin-top:5px; 
    padding-top:10px;
    padding-bottom:10px;
    border-bottom-color:#ededed;
    border-bottom-width:1px; 
    border-bottom-style:solid;
}

.tickwidth{
    width:16px;
}

.blanktr{
    height:38px;
}


.textleft{
    text-align:left;
    margin-left:10px;
    font-size:12px;
    color:blue;
    font-weight:regular;
    width:60%;
    float:left;
}

.textright{
    text-align:right;
    margin-right:10px;
    font-size:12px;
    color:green;
    font-weight:regular;
    width:60%;
    float:right;
}
.imwindow{
    width:auto; 
    border-style:solid; 
    border-width:1px; 
    border-color:#e2e2e2; 
    margin-top:10px; 
    background-color:white; 
    text-align:center;
    height:550px;
}
.userlist{
    height:40px;
    width:auto;
    padding:0px;
    color:blue;
    border-top-width:1px;
    border-top-color:grey;
    border-top-style:solid;
}

.usertext{
    font-size:12px;
    color:#9b9b9b;
    margin:8px;
    text-align:center;
    
}

.listtext{
    color:white
    
}

.footerspan{
    text-align:left;
    font-size:12px;
}

.dl {
    width:auto; 
    height:auto; 
    font-size:12px; 
    line-height:120%;   
    margin-left:6px;
    margin-top:5px;
    font-weight:bold;
}

.int{
    padding-top:10px; 
    padding-bottom:10px;
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#f2f2f2;
}

.now{
    background-color: transparent;

    display: list-item;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    text-align: left;
    width: 68px; 
    !important
}

.whitenav{
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
    background-color: #FC0B0B;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    !important
}

.iconlabel{
    font-size:12px;
    color:black;
    font-weight:bold;
    text-align:center;
}

.via{
    font-size:9px;
    color:#bfbfbf;
    font-weight:bold;
    text-align:center;
}

.mobileicon {
    margin-top:15px; 
    width:60px; 
    height:60px;
    background-image:url('/images/plaster.png');
    background-repeat:repeat-x;
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius:10px 10px;
    -moz-border-top-left-radius: 10px 10px;
    -moz-border-bottom-right-radius: 10px 10px;
    -moz-border-top-right-radius: 10px 10px;
    -moz-border-bottom-left-radius:10px 10px;

}

.split{
    padding-top:5px;
    padding-bottom:5px
    margin-top:10px;
    margin-bottom:20px;
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#e2e2e2;
    border-top-style:solid; 
    border-top-width:1px; 
    border-top-color:#e2e2e2;
}

.splittop{
    width:280px;
    height:130px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom:15px
    margin-top:10px;
    margin-bottom:10px;
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#e2e2e2;
}

.splitbottom{
    width:280px;
    height:130px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:15px;
    padding-bottom:5px
    margin-top:10px;
    margin-bottom:10px;
    border-top-style:solid; 
    border-top-width:1px; 
    border-top-color:#e2e2e2;
}

.feature{
    width:auto;
    height:300px;
    border-style:solid;
    border-width:1px;
    border-color:#e2e2e2;
    margin-top:10px;
    background-color:white;
}

.nakedfeature{
    width:auto;
    height:300px;
    margin-top:10px;
}

.titlelabel
{
    width:auto; 
    padding-bottom:10px; 
    margin-bottom:10px; 
    border-bottom-style:solid; 
    border-bottom-width:1px; 
    border-bottom-color:#e2e2e2;
}

.landingtitlelabel
{
    width:auto; 
    padding-bottom:10px; 
    margin-bottom:10px; 
}

.now{
    background-image:url('/images/navnow.png');
    background-repeat:repeat-x;
    color:white; 
    
}

.visual{
    -webkit-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    min-height:100px;
    text-align:center;
    line-height:120%;
}

.dl {
    width:auto; 
    height:auto; 
    font-size:12px; 
    line-height:120%;   
    margin-left:6px;
    margin-top:5px;
    font-weight:bold;
}


.chatsegment
{
    border-left:solid; 
    border-left-color:#ededed; 
    border-left-width:1px;
}



#banner {
    overflow: hidden;
    background: white;
    height: 500px;
    width: 100%;
    top: 50%;
    margin-top: -150px;
    border-bottom: 5px solid black;
/*      box-shadow: 0px 2px 5px rgba(0,0,0,0.3);*/
}


.standard {
    text-align:center;
    line-height:200%;
    font-size:18px;

}

.standardleft {
    text-align:left;
    line-height:200%;
    font-size:18px;
    padding-left:20px;

}

.btntext {
    text-align:center;
    line-height:200%;
    color:white;
}

//styling for the divs on the conversation transcript
.transcript {
    padding-bottom:20px;
}

#vertline {
    width: 1px;
    border: 2px solid white;
    height: 400px;
    position: relative;
    left: 360px;
}

#horizline {
    width: 200px;
    border: 2px solid white;
    height: 1px;
    left: 360px;
}

body.withgradient {
    background-image:url('images/pixel.png');
    background-repeat:repeat-x;

}

row>[class*="span"]{display:inline;float:left;margin-left:20px;}

.span60{width:60px;}
.span310{width:310px;}
.span320{width:320px;}
.span600{width:580px;}
.span600{width:600px;}
.row>.offset1{margin-left:80px;}
.row>.offset2{margin-left:140px;}
.row>.offset3{margin-left:200px;}
.row>.offset4{margin-left:260px;}
.row>.offset5{margin-left:320px;}
.row>.offset6{margin-left:380px;}
.row>.offset7{margin-left:440px;}
.row>.offset8{margin-left:500px;}
.row>.offset9{margin-left:560px;}
.row>.offset10{margin-left:620px;}
.row>.offset11{margin-left:680px;}
.row>.offset12{margin-left:740px;}
.span-one-third{width:300px;}
.span-two-thirds{width:620px;}
.row>.offset-one-third{margin-left:340px;}
.row>.offset-two-thirds{margin-left:660px;}


.btnshadow {
    box-shadow: 0 0 0 6px rgba(0,0,0,0.1);
    text-shadow: 0 2px 1px rgba(0,0,0,0.7);
    cursor: pointer;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn.orange,.alert-message.orange,.btn.error,.alert-message.error
{background-color:#e77328;
 background-repeat:repeat-x;
 background-image:-khtml-gradient(linear, left top, left bottom, from(#f8a836), to(#e77328));
 background-image:-moz-linear-gradient(top, #f8a836, #e77328);
 background-image:-ms-linear-gradient(top, #f8a836, #e77328);
 background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #e77328));
 background-image:-webkit-linear-gradient(top, #f8a836, #e77328);
 background-image:-o-linear-gradient(top, #f8a836, #e77328);
 background-image:linear-gradient(top, #f8a836, #e77328);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8a836', endColorstr='#e77328', GradientType=0);
 text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#e77328 #e77328 #882a25;
 border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}

.btn.blue,.alert-message.blue,.btn.error,.alert-message.error
{background-color:#004387;
 background-repeat:repeat-x;
 background-image:-khtml-gradient(linear, left top, left bottom, from(#4cb9eb), to(#004387));
 background-image:-moz-linear-gradient(top, #4cb9eb, #004387);
 background-image:-ms-linear-gradient(top, #4cb9eb, #004387);
 background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #004387));
 background-image:-webkit-linear-gradient(top, #4cb9eb, #004387);
 background-image:-o-linear-gradient(top, #4cb9eb, #004387);
 background-image:linear-gradient(top, #4cb9eb, #004387);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb9eb', endColorstr='#004387', GradientType=0);
 text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#004387 #004387 #882a25;
 border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
 !important}

.btn.green,.alert-message.green,.btn.error,.alert-message.error
{background-color:#54751e;
 background-repeat:repeat-x;
 background-image:-khtml-gradient(linear, left top, left bottom, from(#a3e241), to(54751e));
 background-image:-moz-linear-gradient(top, #a3e241, #54751e);
 background-image:-ms-linear-gradient(top, #a3e241, #54751e);
 background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #e77328));
 background-image:-webkit-linear-gradient(top, #a3e241, #54751e);
 background-image:-o-linear-gradient(top, #a3e241, #54751e);
 background-image:linear-gradient(top, #a3e241, #54751e);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3e241', endColorstr='#54751e', GradientType=0);
 text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
 border-color:#e77328 #e77328 #882a25;
 border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}



.btn.silver,.alert-message.silver,.btn.error,.alert-message.error
{background-color:#8c8c8c;
 background-repeat:repeat-x;
 background-image:-khtml-gradient(linear, left top, left bottom, from(#dfdfdf), to(8c8c8c));
 background-image:-moz-linear-gradient(top, #dfdfdf, #8c8c8c);
 background-image:-ms-linear-gradient(top, #dfdfdf, #8c8c8c);
 background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #e77328));
 background-image:-webkit-linear-gradient(top, #dfdfdf, #8c8c8c);
 background-image:-o-linear-gradient(top, #dfdfdf, #8c8c8c);
 background-image:linear-gradient(top, #dfdfdf, #8c8c8c);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#8c8c8c', GradientType=0);
 text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
 border-color:#e77328 #e77328 #882a25;
 border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}


.btn.clickable {
    border: 2px solid white;
    Font-size: 36px;
    color: white;

}

.btn.download {
    border: 2px solid white;
    Font-size: 36px;
    Color: #3a464b;

}

.w05{width:50px !important }
.w075{width:75px !important}
.w1{width:100px !important}
.w150{width:150px !important}
.w2{width:200px !important}
.w25{width:250px !important}
.w270{width:270px !important}
.w3{width:300px !important} 
.w4{width:400px !important}
.w5{width:500px !important}
.w6{width:600px !important}
.w7{width:700px !important}
.w8{width:800px !important}
.w9{width:900px !important}
.w10{width:1000px !important}
.w11{width:1100px !important}
.w12{width:1200px !important}

.h01{height:10px !important}
.h020 {height:20px !important}
.h025{height:25px !important}
.h030{height:30px !important}
.h035{height:35px !important}
.h037{height:37px !important}
.h040{height:40px !important}
.h045{height:45px !important}
.h05{height:50px !important}
.h075{height:75px !important}
.h1{height:100px !important}
.h150{height:150px !important}
.h2{height:200px !important}
.h3{height:300px !important}
.h4{height:400px !important}
.h5{height:500px !important}
.h6{height:600px !important}
.h7{height:700px !important}
.h8{height:800px !important}
.h9{height:900px !important}
.h10{height:1000px !important}
.h11{height:1100px !important}
.h12{width:1200px !important}

.roundedtab5 {
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-top-left-radius: 5px 5px;
    -moz-border-top-right-radius: 5px 5px;
    
    !important}

.roundedtab10 {
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    -moz-border-top-left-radius: 10px 10px;
    -moz-border-top-right-radius: 10px 10px;
    
    !important}


.rounded5 {
    border-top-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius:5px 5px;
    -moz-border-top-left-radius: 5px 5px;
    -moz-border-bottom-right-radius: 5px 5px;
    -moz-border-top-right-radius: 5px 5px;
    -moz-border-bottom-left-radius:5px 5px;

    !important}

.rounded10 {
    border-top-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-left-radius:10px 10px;
    -moz-border-top-left-radius: 10px 10px;
    -moz-border-bottom-right-radius: 10px 10px;
    -moz-border-top-right-radius: 10px 10px;
    -moz-border-bottom-left-radius:10px 10px;

    !important}

.rounded15 {
    border-top-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius:15px 15px;
    -moz-border-top-left-radius: 15px 15px;
    -moz-border-bottom-right-radius: 15px 15px;
    -moz-border-top-right-radius: 15px 15px;
    -moz-border-bottom-left-radius:15px 15px;

    !important}

.rounded20 {
    border-top-left-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-left-radius:20px 20px;
    -moz-border-top-left-radius: 20px 20px;
    -moz-border-bottom-right-radius: 20px 20px;
    -moz-border-top-right-radius: 20px 20px;
    -moz-border-bottom-left-radius:20px 20px;

    !important}

.rounded25 {
    border-top-left-radius: 		25px 25px;
    border-bottom-right-radius: 	25px 25px;
    border-top-right-radius: 		25px 25px;
    border-bottom-left-radius:		25px 25px;
    -moz-border-top-left-radius: 	25px 25px;
    -moz-border-bottom-right-radius:25px 25px;
    -moz-border-top-right-radius: 	25px 25px;
    -moz-border-bottom-left-radius:	25px 25px;

    !important}

.rounded30 {
    border-top-left-radius: 		30px 30px;
    border-bottom-right-radius: 	30px 30px;
    border-top-right-radius: 		30px 30px;
    border-bottom-left-radius:		30px 30px;
    -moz-border-top-left-radius: 	30px 30px;
    -moz-border-bottom-right-radius:30px 30px;
    -moz-border-top-right-radius: 	30px 30px;
    -moz-border-bottom-left-radius:	30px 30px;

    !important}

.rounded50 {
    border-top-left-radius: 		50px 50px;
    border-bottom-right-radius: 	50px 50px;
    border-top-right-radius: 		50px 50px;
    border-bottom-left-radius:		50px 50px;
    -moz-border-top-left-radius: 	50px 50px;
    -moz-border-bottom-right-radius:50px 50px;
    -moz-border-top-right-radius: 	50px 50px;
    -moz-border-bottom-left-radius:	50px 50px;

    !important}

//tabs



.mobileborderout{
    height: 500px;
    width: 320px;
    background-color:red;
    border:5px;
    border-style:solid;
    border-color:#3a464b;
    position: absolute;
    !important}

.mobileborderin{
    height: 480px;
    width: 300px;
    background-color:white;
    border:5px ;
    font-size: 24px;
    text-align: center;
    margin: auto;
    border-style:solid;
    border-color:#3a464b;
    
    !important}

.faqtablerow {
    text-align:left; 
    font-size:18px; 
    color:black; 
    font-weight:bold;
    !important}

.faqquestion{
    font-size:21px; color:#151d6d; line-height:150%;
    !important}

.faqanswer{
    font-size:18px; line-height:200%; color:black;
    !important}

.shadow10{
    box-shadow: 0px 5px 5px #888888;
}

.shadow5{
    box-shadow: 0px 1px 1px #888888;
}


.greenbg{
    background-color:#54751e;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#a3e241), to(54751e));
    background-image:-moz-linear-gradient(top, #a3e241, #54751e);
    background-image:-ms-linear-gradient(top, #a3e241, #54751e);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #e77328));
    background-image:-webkit-linear-gradient(top, #a3e241, #54751e);
    background-image:-o-linear-gradient(top, #a3e241, #54751e);
    background-image:linear-gradient(top, #a3e241, #54751e);
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color:#e77328 #e77328 #882a25;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

    !important }

td.smallrow{
    text-align:center; 
    font-size:18px;
    height:21px
} 

td.midrow{
    text-align:center; 
    font-size:18px;
    font-weight:bold;
    height:21px
}

tr.largerow{
    text-align:center; 
    font-size:42px;
    height:60px
}



.mainContainer
{
    margin:50px auto 0 auto;
}

.topNav
{
    font-family: 'PT Sans', sans-serif;
    font-weight:bold;
    font-size:12px;
    width:960px;
    margin:0 auto;
    letter-spacing:-1px\9;
}

.tabs li
{
    display:inline;
}

.tabwidth
{
    width:195px;
}

.tabs li a
{
    
    cursor: pointer;
    width:195px;
    padding:3px 3px 3px 3px;
    text-align:center;
    border:1px solid #cccccc;
    font-family:'PT Sans',sans-serif;
    color:#000000;
    font-weight:bold;
    text-transform:uppercase;
    
}

.tabs .tab-current
{
    padding: 3px 3px 3px 3px;
    border-bottom:0px;
    color:#ffffff;
    font-weight:bold;
    background-color:#54751e;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear, left top, left bottom, from(#a3e241), to(54751e));
    background-image:-moz-linear-gradient(top, #a3e241, #54751e);
    background-image:-ms-linear-gradient(top, #a3e241, #54751e);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #e77328));
    background-image:-webkit-linear-gradient(top, #a3e241, #54751e);
    background-image:-o-linear-gradient(top, #a3e241, #54751e);
    background-image:linear-gradient(top, #a3e241, #54751e);
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color:#e77328 #e77328 #882a25;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}



.tabsContent
{
    
    background:#ffffff;
    color:#666666;
}

ul.tabs
{
    margin: 0 0 11px 20px;
}


/*Firefox hack*/
@-moz-document url-prefix()
{
    ul.tabs
    {
	margin: 0 0 10px 20px;
    }
} 

.sblks {
    margin-top: 15px
}

.tblks { 
    margin-bottom: 4px
}

navbar section
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navbar {
    overflow: visible;
    margin-bottom: 20px;
    color: #67b55b;
    *position: relative;
    *z-index: 2;
}
.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.navbar .container {
    width: auto;
}
.nav-collapse.collapse {
    height: auto;
}
.navbar .brand {
    float: left;
    display: block;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #555555;
    text-shadow: 0 1px 0 #ffffff;
}
.navbar .brand:hover {
    text-decoration: none;
}
.navbar-text {
    margin-bottom: 0;
    line-height: 40px;
}
.navbar-link {
    color: #555555;
}
.navbar-link:hover {
    color: #333333;
}
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #ffffff;
}
.navbar .btn,
.navbar .btn-group {
    margin-top: 6px;
}
.navbar .btn-group .btn {
    margin: 0;
}
.navbar-form {
    margin-bottom: 0;
    *zoom: 1;
}
.navbar-form:before,
.navbar-form:after {
    display: table;
    content: "";
    line-height: 0;
}
.navbar-form:after {
    clear: both;
}
.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
    margin-top: 5px;
}
.navbar-form input,
.navbar-form select,
.navbar-form .btn {
    display: inline-block;
    margin-bottom: 0;
}
.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
    margin-top: 3px;
}
.navbar-form .input-append,
.navbar-form .input-prepend {
    margin-top: 6px;
    white-space: nowrap;
}
.navbar-form .input-append input,
.navbar-form .input-prepend input {
    margin-top: 0;
}
.navbar-search {
    position: relative;
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
}
.navbar-search .search-query {
    margin-bottom: 0;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.navbar-static-top {
    position: static;
    width: 100%;
    margin-bottom: 0;
}
.navbar-static-top .navbar-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner,
.navbar-static-top .navbar-inner {
    border: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 940px;
}
.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1), 0 1px 10px rgba(0,0,0,.1);
}
.navbar-fixed-bottom {
    bottom: 0;
}
.navbar-fixed-bottom .navbar-inner {
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1), 0 -1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.1), 0 -1px 10px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1), 0 -1px 10px rgba(0,0,0,.1);
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
    float: right;
}
.navbar .nav > li {
    float: left;
}
.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px;
    color: #555555;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}
.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: transparent;
    color: #333333;
    text-decoration: none;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #555555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .btn-navbar {
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
    background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e5e5e5;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #e5e5e5;
    *background-color: #d9d9d9;
}
.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
    background-color: #cccccc \9;
}
.navbar .btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.btn-navbar .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar .nav > li > .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
.navbar .nav > li > .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before {
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom: 0;
    bottom: -7px;
    top: auto;
}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after {
    border-top: 6px solid #ffffff;
    border-bottom: 0;
    bottom: -6px;
    top: auto;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #e5e5e5;
    color: #555555;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #555555;
    border-bottom-color: #555555;
}
.navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right {
    left: auto;
    right: 0;
}
.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
    left: auto;
    right: 12px;
}
.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
    left: auto;
    right: 13px;
}
.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: -1px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-inverse {
    color: #999999;
}
.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
    border-color: #252525;
}
.snav{list-style:none}.stitle{margin-top:20px;margin-bottom:0;padding-bottom:0}.shr{margin-top:2px;margin-bottom:2px}.sshr{margin-bottom:8px}.docsec{margin-bottom:12px}.lbl{text-transform:uppercase;color:#888;font-size:.95em;text-align:right;vertical-align:baseline}ul.snav{padding-left:10px;margin-left:0;margin-right:25px;margin-bottom:5px}ul.snav li{padding-left:10px;width:100%;padding-right:10px;margin-bottom:2px}ul.snav li a{text-decoration:none}ul.snav li a:hover{background-color:#d0d0d0}ul.snav li.selected a{color:white;background-color:#33c}div.docsec div.row{margin-bottom:5px}.returnvalue{font-style:italic}.argvalue{font-weight:bold}.lstblk{margin-left:10px}.codeblk{background:none repeat scroll 0 0 #fafafa;border:1px solid #ddd;padding:10px;margin-top:10px;margin-bottom:10px}.codespan{display:inline;background:none repeat scroll 0 0 #fafafa;border:1px solid #ddd;padding-left:3px;padding-right:3px;padding-top:1px;padding-bottom:1px}

