<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %} {{ page.title }} {% endif %} | Engineering @ Hipmob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Talk to mobile users inside your app. Used by m-commerce, SAAS and Subscription services, and mobile hardware companies to increase retention and in-app sales, and get fewer support tickets. Help users help themselves with in-app helpdesk, use live chat to answer questions immediately, and push notifications bring users back.">
    
    <meta name="keywords" content="real-time, live chat, cobrowsing, screensharing, customer support, support, helpdesk, QA, sales, demos, demonstrations push notifications, push messaging, push alerts, push">
    
    <link rel="icon" type="image/png" href="http://www.hipmob.com/images/bubblechart.png">

    <!-- Styles -->
    <link href="{{site.baseurl}}assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/prettify.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/css.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/remix.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/layout.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.baseurl}}assets/sh/styles/shCore.css" />
    <link rel="stylesheet" href="{{site.baseurl}}assets/sh/styles/shThemeDefault.css" />
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />

    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35392546-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- start Mixpanel -->
    <script type="text/javascript">
      (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
      b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
      '//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];
      d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
      var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
      Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
      f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
      'track_forms','register','register_once','unregister','identify','name_tag',
      'set_config','people.identify','people.set','people.increment'];
      for(e=0;e<h.length;e++){ d(g,h[e]); }
                               a._i.push([b,c,f])};a.__SV=1.1;})(document,window.mixpanel||[]);
                               mixpanel.init("799ab96a1c54c557f965641ee81f92a2");
                               </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{site.baseurl}}assets/js/html5.js"></script>
    <![endif]-->
  </head>
  <body class="bodynav">
    <div class="navbar navbar-fixed-top mainbar2" style="height: 50px">
      <div class="navbar-alert">
  	<div class="container" style="text-align: left">
	  <a class="brand" href="http://www.hipmob.com/"><img style="vertical-align: middle" src="{{site.baseurl}}assets/img/newbrand.png"></a><a href="{{site.baseurl}}"><h3 style="display: inline;margin-left: 10px;text-transform: uppercase">Engineering</h3></a>
	  <ul class="nav pull-right">
	    <li class="alertactive"><a style="padding-top:0px;" href="http://www.hipmob.com/index.html">Home</a></li>
	    <li class="inactive"><a style="padding-top:0px;" href="http://www.hipmob.com/pricing.html">Pricing</a></li>
	    <li class="inactive"><a style="padding-top:0px;" href="http://www.hipmob.com/documentation/index.html">Docs</a></li>
	    <li class="inactive"><a style="padding-top:0px;" href="http://blog.hipmob.com/">Blog</a></li>
	    <li><button class="greenbutton" onclick="gotoLogin();">Log In</button></li>
	  </ul>
	</div>
      </div>
    </div>

    <div class="container contentrow" id="contentblock">
      <div class="row">
	<div class="span9">
	  {{ content }}
	</div>
	<div class="span3 sidebar">
	  <div class="sidebarblock">
	    <h5 class="desc">Help desk and live chat on mobile.</h5><br />
	    Keep your users on your mobile website, and in your iPhone/iPad or Android app.<br /><br />
	    iOS/Android native libraries, customizable to match your application's user interface.<br /><br />
	    Let users search your helpdesk from inside your app.<br /><br />
	    Show contextual help from any screen.<br /><br />
	    Send text, picture and audio messages.<br /><br />
	    Learn more @ <a href="http://www.hipmob.com/">Hipmob.com</a>
	    <div class="sidebardivider"></div>
	    <div style="padding-top:5px;">
	      <a href="https://twitter.com/hipmob" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hipmob</a>
	      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div class="container" style="margin-top: 30px; font-size: 14px">
      <div class="row">
	<div class="span12"><small>&copy; 2012 - 2013 Orthogonal Labs, Inc.</small></div>
      </div>
    </div>
    
    <footer class="remixfooter navbar-static-bottom" style="padding:25px 0px 35px 0px; min-height:220px; "> 
      <div class="container">
	<div class="row" style="margin-top:15px;">
	  <div class="span2 offset1 footerspan1">
            <h4 class="ptlb1 tinycaps">About Hipmob</h4>
            <a class="listtext1" href="http://manage.hipmob.com/register/">Sign Up</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/pricing.html">Pricing</a> <br>
            <a class="listtext1" href="http://blog.hipmob.com/">Blog</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/pricing.html#faq">FAQ</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/privacy.html">Privacy</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/terms.html">Terms of Service</a> 
            
	  </div>

	  <div class="span2 footerspan1">
            <h4 class="ptlb1 tinycaps">Customers</h4>
	    <a class="listtext1" href="http://www.hipmob.com/gallery.html">Gallery</a> <br>
	    <a class="listtext1" href="http://www.hipmob.com/library.html"> Resource Library</a> <br>
	    <a class="listtext1" href="http://hipmob.desk.com/">Help Center</a> <br>
	    <a class="listtext1" href="http://www.hipmob.com/tour">Take The Tour</a> <br>
	    <a class="listtext1" href="http://www.hipmob.com/testimonials">Testimonials</a> <br>
	    <a class="listtext1" href="http://www.hipmob.com/iphonedev.html">View the Demo</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/operator">Operator Handbook</a> <br>
	  </div>

	  <div class="span2 footerspan1">
            <h4 class="ptlb1 tinycaps">Developers</h4>
            <a class="listtext1" href="http://www.hipmob.com/documentation/ios.html">iPhone SDK</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/ios.html#fifteenminuteipad">iPad SDK</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/android.html">Android SDK </a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/peer-to-peer.html">Peer to Peer SDK</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/api.html"> REST API</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/chat-events.html">Webhooks</a> <br>
            <a class="listtext1" href="https://github.com/Hipmob">Github</a> <br>

	  </div>

	  <div class="span2 footerspan1">
            <h4 class="ptlb1 tinycaps">Integrations</h4>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/desk">Desk </a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/zendesk.html">Zendesk</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/hipchat.html">Hipchat</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/campfire.html">Campfire</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/salesforce.html">Salesforce CRM</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/highrise.html">Highrise CRM</a> <br>
            <a class="listtext1" href="http://www.hipmob.com/documentation/integrations/zohocrm.html">Zoho CRM</a> <br>

	  </div>



	  <div class="span2 ">
            <h4 class="ptlb1 tinycaps">Contact Us:</h4> 
            <div class="rounded5 addressbox" style=" ">

	      <h6 style="padding:0px 10px;" class="listtext1">
		team@hipmob.com <br>
		(650) 762-6513 <br><br>
		An Orthogonal Labs Production<br>
	      </h6>
            </div>
	  </div>
	</div>
      </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}assets/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}assets/js/prettify.js"></script>
    <script src="{{site.baseurl}}assets/js/vkbeautify.js"></script>
    <script src="{{site.baseurl}}assets/sh/scripts/shCore.js"></script>
    <script src="{{site.baseurl}}assets/sh/scripts/shAutoloader.js"></script>
    <script src="{{site.baseurl}}assets/js/hm.js"></script>
    <script type="text/javascript">
      jQuery(function(){
      hm.setup('{{site.baseurl}}');
      SyntaxHighlighter.defaults['toolbar'] = false; SyntaxHighlighter.all();
      });
    </script>
    {% if page.loadscript != empty %}
    {{ page.loadscript }}
    {% endif %}
    <!--end nowspots-->
    <script type="text/javascript">mixpanel.track('Engineering Blog: {{page.pagename}}', {'page name' : '{{page.pagename}}', 'url' : window.location.pathname});</script>
    <script type="text/javascript">
      var _hmc = _hmc || [];
      _hmc.push(['app', 'b937e4b524f84fde963da380b948c227']);
      _hmc.push(['title','Talk to us']);
      _hmc.push(['tab', { 'background-color': '#222222', 'color': '#FFFFFF', 'font-size': '9px', 'font-weight': 'bold' }]);
      _hmc.push(['settings', { 'border-color': '#222222', 'height': '350px', 'width': '250px' }]);
      _hmc.push(['statusicons', { 
      'online': '//www.hipmob.com/themes/gmail/online.png', 
      'offline': '//www.hipmob.com/themes/gmail/offline.png', 
      'disconnected': '//www.hipmob.com/themes/gmail/disconnected.png' }]);
      _hmc.push(['controlicons', { 
      'open': '//www.hipmob.com/themes/gmail/open.png', 
      'close': '//www.hipmob.com/themes/gmail/close.png' }]);
      _hmc.push(['crossdomain', function(chat, app, sid){
      var bits = window.location.hostname.split(".");
      while(bits.length > 2) bits.shift();
      chat.cookie('_hipmob_sid_'+app, sid, { expires: false, path: '/', domain: bits.join(".") });
      }, function(chat, app){
        return chat.cookie('_hipmob_sid_'+app);
      }]);
      (function() {
      var hm = document.createElement('script'); hm.type = 'text/javascript';
      hm.async = true;
      hm.src = 'https://hipmob.s3.amazonaws.com/hipmobchat.min.js';
      var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(hm, b);
      })();
    </script>
  </body>
</html>
